.notificationBasicBox {
  position: fixed;
  width: 0;
  transition: all 0.4s;
}
.notificationBasicBox .ui-notification-top {
  margin: 16px 0 0 0;
}
.notificationBasicBox .ui-notification-bottom {
  margin: 0 0 16px 0;
}
.notificationBasicBox .ui-notification {
  overflow: hidden;
  width: 330px;
  height: 77px;
  z-index: 2000;
  position: relative;
  background-color: #ffffff;
  padding: 14px 16px 14px 13px;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  transition: all 0.4s;
}
.notificationBasicBox .ui-notification div {
  transition: all 0.4s;
}
.notificationBasicBox .ui-notification .ui-notification-title {
  color: #303133;
  height: 21;
  font-size: 16px;
  font-weight: 700;
  margin: 0 8px 6px 13px;
}
.notificationBasicBox .ui-notification .ui-notification-message {
  color: #606266;
  font-size: 14px;
  height: 21;
  font-weight: 400;
  line-height: 21px;
  margin: 0 8px 0 13px;
  text-align: justify;
}
.notificationBasicBox .ui-notification-success {
  border-color: #99e673;
}
.notificationBasicBox .ui-notification-warning {
  border-color: #ffcb7d;
}
.notificationBasicBox .ui-notification-error {
  border-color: #f56c6c;
}
.notificationBasicBox .ui-notification-normal {
  border-color: #ebeef5;
}
.notificationBasicBox .ui-notification-left {
  margin-left: -350px;
  opacity: 0;
}
.notificationBasicBox .ui-notification-left-appear {
  margin-left: 16px;
  opacity: 1;
}
.notificationBasicBox .ui-notification-left-disappear {
  height: 0px;
  opacity: 0;
  margin: 0 0;
  border-width: 0px;
  padding: 0px 16px 0px 0px;
}
.notificationBasicBox .ui-notification-right {
  opacity: 0;
}
.notificationBasicBox .ui-notification-right-appear {
  opacity: 1;
  margin-left: -350px;
}
.notificationBasicBox .ui-notification-right-disappear {
  height: 0px;
  opacity: 0;
  margin: 0px;
  border-width: 0px;
  margin-left: -334px;
  padding: 0px 0px 0px 14px;
}
.notificationBasicBox .ui-countdown {
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 3px;
  left: 0;
  opacity: 0;
}
#notificationBasicBox-left-top {
  left: 0;
  top: 0;
  height: 0;
}
#notificationBasicBox-left-bottom {
  left: 0;
  bottom: 0;
}
#notificationBasicBox-right-top {
  right: 0;
  top: 0;
  height: 0;
}
#notificationBasicBox-right-bottom {
  right: 0;
  bottom: 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.ui-icon-close {
  width: 0.9em;
  height: 0.9em;
  font-size: 0.8em;
  vertical-align: -0.15em;
  color: #00000055;
  fill: currentColor;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}
.ui-icon-close:hover {
  background-color: #00000022;
}
